<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :details %>
    <%= form.text_field :details %>
  </div>
  <div class="field">
  <%= form.label :start %>
  <%= form.date_select :start %>
</div>
<div class="field">
  <%= form.label :enddate %>
  <%= form.date_select :enddate %>
</div>
<div class="field">
<%= form.label :status %><br /><%= form.radio_button :status, 'Not started'%> Not started 
<%= form.radio_button :status, 'In progress'%> In progress
<%= form.radio_button :status, 'Done'%> Done
</div>
<div class="field">
<%= form.label :priority %><br />
<%= form.select :priority, [ 'High', 'Medium', 'Low'], :prompt => 'Select One' %>
</div>
<div class="field">
<% if logged_in? %>
<%= form.hidden_field :user_id, value: current_user.id %>
<% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
