<div class="card"style="background-color:gray;" >
<div class="heda">
<div class="card-header"style="background-color:black; height:12rem;" >
<%= link_to 'HOME', tasks_path,class:"btn btn-info" %>
</div>
</div>
<div class="dd">
<div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

<%= search_form_for @search do |form| %>
  <div class="field1">
  <%= form.label :name_cont,"Search by Name" %><br />
  <%= form.text_field :name_cont %><br />
  <%= form.label :name_cont,"Search by Status" %><br />
  <%= form.text_field :status_cont %>
  <br>
  </div> 
  <div class="actions1"><%= form.submit "search",class:"btn btn-info" %></div>
<%end%>
</div>
<div class="not">
<p id="notice"><%= notice %></p>
<%= t('view.sample') %><br>
<p>SORT BY <br>
<%= link_to 'priority High', tasks_path(sort_with: 'true'),class:"btn btn-info" %></p>
<p>click here for <div class="new"><%= link_to 'New Post', new_task_path,class:"btn btn-info" %></p></div>
</div>
<img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png" alt="" class="img-fluid">
<div class="card-body" style="width: 25rem;margin-left: 30rem;">
  <div class="card1" style="width: 35rem;">
    <% @tasks.each do |task| %>
      <% if task.user.id == current_user.id %>
      <div class="card">
      <div class="card-header" style="color:blue; "><b><%= task.name %> 's Task</b></div>
      <div class="card-body" style="width: 25rem;"><h4> DETAILS</h4> <%= task.details %></div>
      <div class="card-body" style="width: 25rem;"><h4> CREATION DATE AND TIME</h4> <%= task.created_at %></div>
      <div class="card-body" style="width: 25rem;"> <h4 >START DATE AND TIME</h4><%= task.start %></div>
      <div class="card-body" style="width: 25rem;"><h4>ENDED DATE</h4> <%= task.enddate %></div>
      <div class="card-body" style="width: 25rem;"><h4> STATUS</h4> <%= task.status %></div>
      <div class="card-body" style="width: 25rem;"><h4>PRIORITY</h4><%= task.priority %></div>
       <div class="card-footer"style="width: 35rem;">
    <%= link_to 'show', task, class:"btn btn-dark" %>
      <%= link_to 'Edit  ', edit_task_path(task), class:"btn btn-dark" %>
    <%= link_to 'Delete ', task, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %>
  </div>
    </br>
    </div>
    <% end %>
    <% end %>

    <div class="card-footer"style="width: 35rem;"><%= paginate  @tasks %></div>
   </div>
   <div class="para">
<p >
I got to know African APP LAUNCHPAD on social media
 and I become more interested to be a follower on twitter.
 I have seen how you create a transformative educational experience in ICT
  for the student-focused on deep disciplinary knowledge 
 and problem solving. I decide to apply in programming data science in the next class
  and I want to become involved in data science 
 and I look forward to working as a data scientist in programming. </p></div>
 

